# Django
SECRET_KEY=CAMBIAR_ESTA_CLAVE
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Base transaccional SQL Server
DB_NAME=samsung_electronics
DB_USER=USUARIO_TRANSACCIONAL_NUEVO
DB_PASSWORD=PASSWORD_TRANSACCIONAL_NUEVO
DB_HOST=samsung_electronics.mssql.somee.com
DB_PORT=1433

# Data Warehouse SQL Server
DW_NAME=DW_Samsung
DW_USER=USUARIO_DW_NUEVO
DW_PASSWORD=PASSWORD_DW_NUEVO
DW_HOST=DW_Samsung.mssql.somee.com
DW_PORT=1433

# Integración Odoo
ODOO_PUBLIC_URL=http://localhost:8069
ODOO_URL=http://odoo:8069
ODOO_DB=odoo_samsung
ODOO_USER=aylinzomber@gmail.com
ODOO_PASSWORD=CAMBIAR_PASSWORD_ODOO